html {
  font-family: monospace;
}
body {
  margin: 0;
  background-color: #efefef;
}
header {
  background-color: #364552;
  color: #fff;
  padding: 3rem 2rem;
}
h1 {
  font-size: 4rem;
  text-align: center;
  color: #fff;
}
.container {
  width: 400px;
  margin: 0 auto;
}
section article {
  transition: box-shadow 0.3s ease;
  background-color: #fff;
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 0.25rem 0;
  cursor: pointer;
  text-align: justify;
}
section article:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 30);
}
section article h2,
section article p {
  margin: 1rem;
}
footer {
  margin: 0;
  background-color: #222;
  padding: 3rem;
  color: #fff;
}
footer section {
  float: right;
}
footer p {
  margin: 0;
  color: #fff;
}
footer a {
  transition: color 0.3s ease;
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  color: cornflowerblue;
}
/*
#title {
    text-align: center;
    color:rgb(225, 29, 185);
}
h2.texto {
    color:rgb(225, 29, 185);
}
.post {
    color:black;
    background-color: rgb(15, 191, 200);
}
p.texto {
    color:rgb(15, 191, 200);
}
a.texto {
    color:rgb(254, 254, 254);
}
* {
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(80, 78, 150);
}
/*este codigo sirve para escribir comentarios
.color {
    color: #ff0000:
}
.color {
    color: rgb(255,0,0);
}
        dotted
        dashed
        solid
        double se puede usar en 3D
        groove en 3D
        ridge en 3D
        inset en 3D
        outset en 3D
        none
        hidden
#fondo {
    background-color: black;
    opacity: 0.3;
    height: 200px;
    background-image: url(img/MrRobot1.png);
    background-size: contain;
    background-repeat: center center;
    se puede aplicar el siguiente codigo
    
    #fondo {
        backround-color:rgba(255,0,0);
        height: 200px;
        background: #f00 url(img/MrRobot1.png) repeat-y center bottom;
        background-size: 100px 100px;
}

.color {
    border: 2px rgb(88, 13, 159);
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
}
.text{
    font-family: monospace;
    font-size:x-large;
    text-align: justify;
    text-shadow: 3px 5px 5px darkorchid;
}
.center {
    text-align: center;
    width: 200px;
    margin:0 auto;
    background-color: aqua;
}
*/
